body{
	background-size: cover;
	overflow: hidden;
	cursor: url(../img/mata_mosquito.png), default;
}

#mosquito{
	width: 10vw;
	font-size: 20pt;
	top: auto;
	left: auto;
	position: absolute;
	z-index: 0;
}

#lifes{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}
#lifes > *{
	display: inline-block;
	margin-right: 2ex;
}

p{
	background-color: rgba(0, 0, 0, .5);
	z-index: 999;
	display: inline-block;
}