body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}
body{
    background: url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
	color: white;
}